.alert {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

@media (max-width: 600px) {
  .alert {
    left: 24px;
    right: 24px;
    transform: translateX(0%);
  }
}

.pointer {
  cursor: pointer;
}

.description {
  color: #F0F0F0;
}

